# Analisis preliminar del conjunto de datos

In [7]:
#Importaciones

import pandas as pd
import numpy as np

In [ ]:
import os
print(os.getcwd())

c:\Users\pooo_\Desktop\Hackio\proyecto_final_troncal\analisis_eda_proyecto_final\jupyters

In [19]:
#Leer el archivo
df_attendance = pd.read_csv("../data/data_raw/attendance.csv")
df_attendance.head()

  Student_ID        Date    Subject Attendance_Status
0     S06592  2024-09-20     Arabic           Present
1     S01777  2025-01-22       Math           Present
2     S07362  2024-12-03  Geography          PRESENT
3     S12119  2024-03-16  Geography           excused
4     S02002  2024-05-24       Math          PRESENT

In [20]:
df_attendance.shape

(364680, 4)

In [21]:
df_attendance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 364680 entries, 0 to 364679
Data columns (total 4 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Student_ID         364680 non-null  object
 1   Date               364680 non-null  object
 2   Subject            364680 non-null  object
 3   Attendance_Status  364680 non-null  object
dtypes: object(4)
memory usage: 11.1+ MB