# Analisis preliminar del conjunto de datos

In [372]:
#Importaciones
import pandas as pd
import numpy as np

#Para llamar a archivos de otras carpetas
import sys
sys.path.append('..')

#Visualizar todas las columnas
pd.set_option('display.max_columns', None)

In [373]:
#Después importamos el archivo de funciones ('sp_limpieza.py') 
import src.sp_limpieza as sp
#Importamos importlib para poder recargar el módulo y reflejar los cambios actualizados
import importlib  
importlib.reload(sp)

In [374]:
#Para interactuar con el sistema operativo
import os
#Devuelve la ruta del directorio actual
print(os.getcwd())

c:\Users\pooo_\Desktop\Hackio\proyecto_final_troncal\analisis_eda_proyecto_final\jupyters

In [375]:
#Librerías visualización de gráficos
import matplotlib.pyplot as plt
import seaborn as sns

# 1. Transformación y limpieza de datos

### 1.1. Importación y visión general de los datos

In [376]:
#Leer los archivos
df_attendance = pd.read_csv("../data/data_raw/attendance.csv", index_col = 0)
df_homework = pd.read_csv("../data/data_raw/homework.csv", index_col = 0)
df_performance = pd.read_csv("../data/data_raw/performance.csv")
df_students = pd.read_csv("../data/data_raw/students.csv")
df_communication = pd.read_csv("../data/data_raw/communication.csv")

In [377]:
#Ver dataframe 'df_attendace'
df_att_preliminar =  sp.eda_preliminar(df_attendance)

                  Date  Subject Attendance_Status
Student_ID
S10902      2024-04-08  Science           Present
S11292      2024-07-24  English              Late
S03226      2024-07-13  Science           excused
S02635      2024-12-14   Arabic             absnt
S03971      2024-04-30  Science           Present

____________________________
INFO
<class 'pandas.core.frame.DataFrame'>
Index: 364680 entries, S06592 to S12134
Data columns (total 3 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Date               364680 non-null  object
 1   Subject            364680 non-null  object
 2   Attendance_Status  364680 non-null  object
dtypes: object(3)
memory usage: 11.1+ MB

None

____________________________
NULOS

Date                 0.0
Subject              0.0
Attendance_Status    0.0
dtype: float64

____________________________
DUPLICADOS

np.int64(347112)

____________________________
DESCRIBE

                    count unique         top   freq
Date               364680    366  2024-12-31   1075
Subject            364680      6        Math  61241
Attendance_Status  364680      8    PRESENT   45982

____________________________
DESCRIBE COLUMNAS OBJECT

                    count unique         top   freq
Date               364680    366  2024-12-31   1075
Subject            364680      6        Math  61241
Attendance_Status  364680      8    PRESENT   45982

____________________________
VALUE COUNTS
Date
2024-12-31    1075
2024-05-05    1073
2024-09-06    1070
2024-08-06    1068
2024-09-22    1068
              ...
2024-12-25     922
2024-05-09     921
2024-03-31     919
2024-12-07     917
2024-04-21     905
Name: count, Length: 366, dtype: int64
Subject
Math         61241
Science      60881
Arabic       60749
English      60684
Geography    60640
History      60485
Name: count, dtype: int64
Attendance_Status
PRESENT       45982
Absent        45751
Present       45632
Late          45509
 late         45508
absnt         45478
left early    45435
excused       45385
Name: count, dtype: int64
____________________________

In [378]:
#Quitar los espacios y pasar a misnuculas las tabla
df_attendance = sp.valores_a_minus(df_attendance)
df_attendance.sample(10)

                  date    subject attendance_status
student_id
s01493      2025-02-01    history              late
s11584      2024-10-15    history             absnt
s08977      2024-09-27  geography           excused
s08447      2025-01-05    history           present
s04739      2024-08-08    history           present
s11384      2025-01-27    science        left early
s01191      2025-02-27    english              late
s01186      2024-11-08    history        left early
s05128      2024-10-03    history             absnt
s00863      2025-01-28       math              late

In [379]:
#Ver en la columna attendance_status que valores tiene.
conteo = df_attendance['attendance_status'].value_counts()
conteo

attendance_status
present       91614
late          91017
absent        45751
absnt         45478
left early    45435
excused       45385
Name: count, dtype: int64

In [380]:
#Corregimos el valor 'absnt' por 'absent' y comprobamos los resultados de la columna
df_attendance['attendance_status'] = df_attendance['attendance_status'].replace('absnt','absent')


conteo = df_attendance['attendance_status'].value_counts()
conteo
#Ya tenemos los valores de esta columna corregidos.

attendance_status
present       91614
absent        91229
late          91017
left early    45435
excused       45385
Name: count, dtype: int64

In [381]:
#Cambiar nombre de columna 'date' para hacerla mas descriptiva y 'attendace_status' para hacerla mas corta.
df_attendance.rename(columns={'date':'att_date', 'attendance_status':'att_status'}, inplace= True)

In [382]:
# Como la columna 'date' es de tipo 'Object' vamos a pasarla a tipo Datetime y comprobamos el tipo de dato que sea correcto
df_attendance['att_date'] = pd.to_datetime(df_attendance['att_date'], errors = 'coerce')
print(df_attendance['att_date'].dtype)

datetime64[ns]

In [383]:
#Comprobamos el resto de columnas que sean de tipo correcto.
print(df_attendance.dtypes)

att_date      datetime64[ns]
subject               object
att_status            object
dtype: object

In [384]:
#Ver dataframe 'df_homework'
df_hw_preliminar =  sp.eda_preliminar(df_homework)
df_hw_preliminar

,Subject,Assignment_Name,Due_Date,Status,Grade_Feedback,Guardian_Signature
Student_ID,,,,,,
S01970,Science,Brother simple beautiful.,2024-10-25,❌,D,No
S05360,Math,Become seven over.,2024-09-25,not done,B,
S02382,English,After wear seem.,2024-11-27,✔,B,Yes
S11144,Arabic,Across science.,2025-02-08,✅,A,Yes
S10770,History,Will rich possible.,2025-02-27,not done,D,

____________________________
INFO
<class 'pandas.core.frame.DataFrame'>
Index: 60780 entries, S12002 to S08589
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Subject             60780 non-null  object
 1   Assignment_Name     60780 non-null  object
 2   Due_Date            60780 non-null  object
 3   Status              60780 non-null  object
 4   Grade_Feedback      60780 non-null  object
 5   Guardian_Signature  60780 non-null  object
dtypes: object(6)
memory usage: 3.2+ MB

None

____________________________
NULOS

Subject               0.0
Assignment_Name       0.0
Due_Date              0.0
Status                0.0
Grade_Feedback        0.0
Guardian_Signature    0.0
dtype: float64

____________________________
DUPLICADOS

np.int64(0)

____________________________
DESCRIBE

                    count unique         top   freq
Subject             60780      6     English  10209
Assignment_Name     60780  56065       Also.     15
Due_Date            60780    366  2025-01-23    315
Status              60780      6       Done   10278
Grade_Feedback      60780      8          A+   7709
Guardian_Signature  60780      3          No  20372

____________________________
DESCRIBE COLUMNAS OBJECT

                    count unique         top   freq
Subject             60780      6     English  10209
Assignment_Name     60780  56065       Also.     15
Due_Date            60780    366  2025-01-23    315
Status              60780      6       Done   10278
Grade_Feedback      60780      8          A+   7709
Guardian_Signature  60780      3          No  20372

____________________________
VALUE COUNTS
Subject
English      10209
Geography    10179
Science      10112
History      10110
Arabic       10106
Math         10064
Name: count, dtype: int64
Assignment_Name
Also.                      15
Term.                      15
Understand.                13
Not.                       13
Eye.                       12
                           ..
Effect job amount.          1
Study indicate fight.       1
Reach whose investment.     1
Suggest figure.             1
Involve determine.          1
Name: count, Length: 56065, dtype: int64
Due_Date
2025-01-23    315
2025-03-02    302
2024-11-06    301
2024-11-08    300
2024-12-25    299
             ...
11/04/2024     52
10/13/2024     51
12/21/2024     50
11/22/2024     50
03/01/2025     46
Name: count, Length: 366, dtype: int64
Status
 Done       10278
not done    10234
❌           10151
✔           10090
pending     10014
✅           10013
Name: count, dtype: int64
Grade_Feedback
A+    7709
B-    7639
D     7631
B     7591
F     7586
C     7585
A     7533
C-    7506
Name: count, dtype: int64
Guardian_Signature
No     20372
Yes    20348
       20060
Name: count, dtype: int64
____________________________

In [385]:
#Pasar dataframe a minusculas
df_homework = sp.valores_a_minus(df_homework)
df_homework.sample(10)

,subject,assignment_name,due_date,status,grade_feedback,guardian_signature
student_id,,,,,,
s09733,history,choice myself story.,2025-01-13,✔,c,yes
s09709,science,democrat national determine.,2024-11-26,not done,b,
s08789,math,safe lawyer decision.,2024-10-07,✔,d,no
s09577,arabic,professor ground.,03/06/2025,not done,b,yes
s02597,math,education improve always.,2024-11-13,not done,d,yes
s02580,english,once soldier director sure.,2024-09-17,✔,c-,
s11736,math,despite white reach finally.,2025-03-08,pending,c-,no
s03352,science,just second.,2024-12-17,done,f,yes
s11301,science,party lot rest.,2024-10-04,pending,f,no
s08437,arabic,together today.,2024-09-25,✔,c,no

In [386]:
#La columna 'due_date' tiene valores de fecha con diferentes formatos.
# Hay que pasarlo a un formato y asignalo como de tipo datetime.

df_homework['due_date'] = pd.to_datetime(df_homework['due_date'], errors='coerce')
df_homework.info()

<class 'pandas.core.frame.DataFrame'>
Index: 60780 entries, s12002 to s08589
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   subject             60780 non-null  object
 1   assignment_name     60780 non-null  object
 2   due_date            48422 non-null  datetime64[ns]
 3   status              60780 non-null  object
 4   grade_feedback      60780 non-null  object
 5   guardian_signature  60780 non-null  object
dtypes: datetime64[ns](1), object(5)
memory usage: 3.2+ MB

In [387]:
df_homework.sample(10)

,subject,assignment_name,due_date,status,grade_feedback,guardian_signature
student_id,,,,,,
s07346,geography,speech sit.,2024-11-03,❌,a+,
s11828,history,from tree other.,NaT,✅,d,no
s11259,english,son meeting use.,2024-12-25,✔,a+,no
s10843,english,scientist can easy.,2024-09-13,pending,b,no
s07766,arabic,take day seven.,2024-10-24,done,b,yes
s05069,science,difficult.,2025-01-25,✔,c,yes
s04942,arabic,phone down budget.,2025-02-13,not done,a+,
s08837,science,place value.,2024-09-25,not done,c,no
s10174,math,expect happy address.,2025-03-03,✔,a+,no
s02805,arabic,dinner medical.,NaT,done,c-,

In [ ]:
#Sacar nulos de la columna 'due_date' mediante funcion de sp.limpieza.py

### 1.2. Eliminar columnas redundantes o irrelevantes

### 1.3. Homogeinizar los nombres de las columnas

### 1.4. Homogeinizar datos categóricos

### 1.5. Cambio tipo de datos y gestión de nulos

### 1.6. Combinar ambas tablas

# 2. Análisis descriptivo de los datos

### 2.1. Resumen estadístico

# 3. Visualización de los datos.

### 3.1. Histogramas para la distribución de variables numéricas

### 3.2. Boxplots para detectar outliers

### 3.3. Gráficos de barras para variables categóricas

### 3.4. Heatmap de correlaciones

# 4. Guardar archivos limpios